@import "sass-bootstrap/lib/bootstrap";
@import "compass/css3/transition";
@import "compass/css3/box-shadow";
@import "compass/css3/box-sizing";

$almostBlack: #524A4A;
$almostBlacker: #332E2E;

body, html {
	height: 100%;
}

*, *:before, *:after {
	@include box-sizing(border-box);
}

input, .add-on {
	@include box-sizing(content-box);
}

.action-bar {
	margin: 1em 0;
}

.face-circle {
	border: 3px solid #FFF;
	box-shadow: 1px 1px 7px 0px #352F2F;
	border-radius: 100%;
}

.copyright {
	margin: 1em 0;
}

.centered {
	text-align: center;
}

.investment-box {
	position: relative;
	margin-bottom:25px;
	border-radius:4px;
	padding: 1% 5%;
	border: 1px solid #F8F8F8;

	@include box-shadow(1px 1px 6px 1px #ECECEB);
	@include transition(all 0.3s ease);

	&:hover {
		background-color: #D5D5D5;
		border:1px solid #B9B7B7;

		@include box-shadow(3px 3px 10px 3px #C2C2C2);

		.delete-investment { opacity: 1; cursor: pointer; }
	}
}

hr { clear:both; }

.layover {
	position: relative;

	&:hover {
		img {
			opacity: 0.3;
		}

		.layover-text {
			opacity: 1;
		}
	}

	img {
		@include transition(0.2s opacity ease-in);		
	}

	.layover-text {
		color: $almostBlacker;
		font: 3em 'Raleway';
		font-weight: bold;
		height: 100%;
		line-height: 3em;
		opacity: 0;
		position: absolute;
		width: 100%;
		z-index: 1;
		@include transition(0.2s opacity ease-in);
	}
}

.spacer { margin:0 10px; font-size:1.2em; }

.section-title {
	font: 1.5em 'Raleway';
}
.sub-title {
	font: 2em 'Raleway';
	color: white;
}
.big-section-title {
	color: white;
	font: 4em 'Raleway';
}
.body-content {
	width: 70%;
	margin: 0 auto;
}

.big-section {
	width: 100%;
	padding: 2em;
	margin-bottom: 1em;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.section-black {
	color: gray;
	background-color: #2E2E2E;
}

.snippet-row {
	margin: 1em 0;
}

.snippet-box {
	.face-circle {
		display: inline-block;
	}

	.snippet-text {
		background-color: rgba(255, 255, 255, 0.8);
		display: inline-block;
		padding: 0.3em;
		width: 70%;
	}
}

.sandy-beach {
	background: url(../img/beach-footsteps.jpg);
}

.guy-bike {
	background: url(../img/guy-bike.jpg);

	.big-section-title, .sub-title {
		color: $almostBlack;
	}
}

hr.stylish {
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}