<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="styles/main.css">
	</head>
	<body>
		<!--[if lt IE 7]>
			<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
		<![endif]-->

		<div class="status-bar cf">
			<div class="left_col"><span id="gift-total">$0.00</span></div>
		</div>

		<div id="gift-app">
			<form class="gift-app-form" action="https://www.paypal.com/cgi-bin/webscr" method="POST">
				<div id="component-wrapper"></div>

				<hr class="stylish" />

				<div class="action-bar">
					<input type="button" value="Add another designation" class="btn btn-success designation-add" /> 
					<span class="spacer">|</span>
					<input type="submit" value="Donate now" class="btn btn-primary gift-submit" />
				</div>
				
				<!-- PayPal variables -->
				<input type="hidden" name="cmd" value="_donations">
				<input type="hidden" name="business" value="riverwoodcommunitychurch@gmail.com">
				<input type="hidden" name="currency_code" value="USD">
				<input type="hidden" name="item_name" value="Gift">
				<input type="hidden" name="amount" value="0.00">
				<input type="hidden" name="return" value="http://riverwoodcommunitychurch.org/thanks">
				<input type="hidden" name="upload" value="1">
			</form>
		</div>

		<!-- build:js scripts/main.js -->
		<script data-main="scripts/main" src="components/requirejs/require.js"></script>
		<!-- endbuild -->

		<script type="text/template" id="tpl-designation-component">
			<div class="span4 amount">
				<label class="input-help">Enter how much you wish to give</label>
				<div class="input-prepend">
					<span class="add-on">$</span>
					<input type="text" class="designation-amount" placeholder="Amount" value="<%= designation.amount > 0 ? designation.amount : '' %>" />
				</div>
			</div>

			<div class="span4 fund"> 
				<label class="input-help">Select a fund to put your money towards</label>
				<select>
				<% for (var i=0;i<funds.length;i++) { %>
					<option data-info="<%= funds[i].info %>" value="<%= funds[i].name %>" <%= designation.fund === funds[i].name ? "selected" : "" %>><%= funds[i].name %></option>
				<% } %>
				</select>
				
			</div>

			<div class="span4">
				<p class="fund-info">Your donation <%= info %>.</p>
			</div>

			<div class="designation-delete tooltip" data-toggle="tooltip" title="Delete this donation" data-placement="right"></div>		
		</script>

		<script type="text/template" id="tpl-cache-review">
			<h2>Gifts in progress</h2>
			<p>We loaded up some gifts you were already working on.</p>
			
			<table class="table table-striped">
				<thead>
					<th>Fund</th>
					<th>Amount</th>
				</thead>

				<tbody>
					<% for (var i=0;i<designations.length;i++) { %>
						<tr>
							<td><%= designations[i].fund %></td>
							<td><%= accounting.formatMoney(designations[i].amount) %></td>
						</tr>
					<% } %>

					<tr>
						<td><strong>Total</strong></td>
						<td><%= accounting.formatMoney(total) %></td>
					</tr>
				</tbody>
			</table>
		</script>
	</body>
</html>
